<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">
<div layout:fragment="content">
    <h3 class="text-center">ADMIN PANEL</h3>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-category-modal">
        +ADD NEW CATEGORY
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add-category-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">ADD NEW PRODUCT</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'products/add-category'}" method="post">
                        <div class="row mt-4">
                            <div class="col-12">
                                <label>CATEGORY NAME:</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input class="form-control" type="text"
                                       name="name" placeholder="name of category..."
                                       required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mx-auto">
            <h3 class="text-center">PRODUCT CATEGORIES:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>DELETE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td><button>DETAILS</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>