<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layoutPage.html">
<div layout:fragment="content">
  <div class="row">
    <div class="col-6 mx-auto">

      <h2 class="text-center">Sign In</h2>

      <div class="alert alert-danger alert-dismissible fade show" role="alert"
           th:if="${param.authenticationError!=null}">
        Incorrect email or password!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <form method="post" th:action="@{'/sign-in'}">
        <div class="row mt-4">
          <div class="col-12">
            <label>EMAIL:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input class="form-control" type="email" name="user_email"
                   placeholder="Insert email" required>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-12">
            <label>PASSWORD:</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <input class="form-control" type="password" name="user_password"
                   placeholder="Insert Password" required>
          </div>
        </div>
        <button class="btn btn-success mt-2">SIGN IN</button>
      </form>
    </div>
  </div>
</div>
</html>